**Authors:** Jozef Hanč, Martina Hančová <br> 
[Faculty of Science](https://www.upjs.sk/en/faculty-of-science/?prefferedLang=EN) *P. J. Šafárik University in Košice, Slovakia* <br> 
email: [jozef.hanc@upjs.sk](mailto:jozef.hanc@upjs.sk)

***
**<font size=6 color=brown> Research study I: Ph.D. candidates in PER</font>** 

**<font size=4> Phase I $-$ content analysis of Ph.D. documents</font>**

<font size=4> Computational tool: </font> **<font size=4> Scientific Python - Pandas </font>**

# Data

PhD project and thesis $-$ All PhD students who learned at least one Data Science tool

In [1]:
# load data as dataframe df
file = '../data/01_PhD-documents.xlsx'
df = pd.read_excel(file)
df

,Date,Nick,PhD,gender,Excel,RSRP,XLSTAT,Google sheets,SPSS,R,PhysPort,Jupyter,Basic Stats,Advanced Stats
0,2014,PhD1,project,F,0,0,0,0,0,0,0,0,0,0
1,2014,PhD2,project,F,1,0,0,0,0,0,0,0,1,0
2,2015,PhD3,project,F,1,0,0,0,0,0,0,0,1,0
3,2015,PhD4,project,F,1,0,0,0,0,0,0,0,1,0
4,2015,PhD5,project,F,1,0,0,1,0,0,0,0,1,0
5,2016,PhD6,project,F,0,0,0,1,0,0,0,0,1,0
6,2016,PhD7,project,M,0,0,0,1,0,1,0,0,1,1
7,2017,PhD3,thesis,F,1,0,0,0,1,0,0,0,1,1
8,2017,PhD8,project,M,1,0,0,0,0,0,1,0,1,0
9,2017,PhD1,thesis,F,1,0,0,0,0,0,0,0,1,0
10,2017,PhD4,thesis,F,1,1,0,0,0,0,0,0,1,0
11,2017,PhD2,thesis,F,1,0,0,0,0,1,0,0,1,0
12,2019,PhD5,thesis,F,1,0,1,0,0,0,0,0,1,1
13,2019,PhD9,project,M,1,0,0,0,0,0,0,0,1,0
14,2020,PhD6,thesis,F,1,0,0,1,0,1,0,1,1,1
15,2020,PhD7,thesis,M,1,0,0,1,0,1,1,1,1,1

In [2]:
cols = list(df.columns)
print(cols)

['Date', 'Nick', 'PhD', 'gender', 'Excel', 'RSRP', 'XLSTAT', 'Google sheets', 'SPSS', 'R', 'PhysPort', 'Jupyter', 'Basic Stats', 'Advanced Stats']

In [3]:
# rename columns - lower case, '_' instead white spaces
df.columns = np_clean_str(cols, whitespace='_', case='lower')
df.head()

,date,nick,phd,gender,excel,rsrp,xlstat,google_sheets,spss,r,physport,jupyter,basic_stats,advanced_stats
0,2014,PhD1,project,F,0,0,0,0,0,0,0,0,0,0
1,2014,PhD2,project,F,1,0,0,0,0,0,0,0,1,0
2,2015,PhD3,project,F,1,0,0,0,0,0,0,0,1,0
3,2015,PhD4,project,F,1,0,0,0,0,0,0,0,1,0
4,2015,PhD5,project,F,1,0,0,1,0,0,0,0,1,0

In [4]:
# set multindex 
multidx = ['nick', 'gender', 'phd', 'date']
df = df.set_index(multidx).sort_index()
df

                          excel  rsrp  xlstat  google_sheets  spss  r  \
nick gender phd     date
PhD1 F      project 2014      0     0       0              0     0  0
            thesis  2017      1     0       0              0     0  0
PhD2 F      project 2014      1     0       0              0     0  0
            thesis  2017      1     0       0              0     0  1
PhD3 F      project 2015      1     0       0              0     0  0
            thesis  2017      1     0       0              0     1  0
PhD4 F      project 2015      1     0       0              0     0  0
            thesis  2017      1     1       0              0     0  0
PhD5 F      project 2015      1     0       0              1     0  0
            thesis  2019      1     0       1              0     0  0
PhD6 F      project 2016      0     0       0              1     0  0
            thesis  2020      1     0       0              1     0  1
PhD7 M      project 2016      0     0       0              1     0  1
            thesis  2020      1     0       0              1     0  1
PhD8 M      project 2017      1     0       0              0     0  0
PhD9 M      project 2019      1     0       0              0     0  0

                          physport  jupyter  basic_stats  advanced_stats
nick gender phd     date
PhD1 F      project 2014         0        0            0               0
            thesis  2017         0        0            1               0
PhD2 F      project 2014         0        0            1               0
            thesis  2017         0        0            1               0
PhD3 F      project 2015         0        0            1               0
            thesis  2017         0        0            1               1
PhD4 F      project 2015         0        0            1               0
            thesis  2017         0        0            1               0
PhD5 F      project 2015         0        0            1               0
            thesis  2019         0        0            1               1
PhD6 F      project 2016         0        0            1               0
            thesis  2020         0        1            1               1
PhD7 M      project 2016         0        0            1               1
            thesis  2020         1        1            1               1
PhD8 M      project 2017         1        0            1               0
PhD9 M      project 2019         0        0            1               0

In [5]:
c = df.columns
frameshow(list(c), transpose=True)

,0,1,2,3,4,5,6,7,8,9
list,excel,rsrp,xlstat,google_sheets,spss,r,physport,jupyter,basic_stats,advanced_stats

In [6]:
# groups of columns: all sw, spreadsheets, special sw, cloud, statistics
soft =c[:-2]
spread = [c[0],c[3]]
spsoft = [*c[1:3], *c[4:8]]
cloud = [c[3],*c[6:8]]
stat = c[-2:]

# Stat methods summary

In [7]:
# sum of stat cols and its interpretation
df['stats']=df[stat].sum(axis=1).replace({0:'none', 1:'basic', 2:'adv.'})
df.drop(columns=stat, inplace=True)

In [8]:
df

                          excel  rsrp  xlstat  google_sheets  spss  r  \
nick gender phd     date
PhD1 F      project 2014      0     0       0              0     0  0
            thesis  2017      1     0       0              0     0  0
PhD2 F      project 2014      1     0       0              0     0  0
            thesis  2017      1     0       0              0     0  1
PhD3 F      project 2015      1     0       0              0     0  0
            thesis  2017      1     0       0              0     1  0
PhD4 F      project 2015      1     0       0              0     0  0
            thesis  2017      1     1       0              0     0  0
PhD5 F      project 2015      1     0       0              1     0  0
            thesis  2019      1     0       1              0     0  0
PhD6 F      project 2016      0     0       0              1     0  0
            thesis  2020      1     0       0              1     0  1
PhD7 M      project 2016      0     0       0              1     0  1
            thesis  2020      1     0       0              1     0  1
PhD8 M      project 2017      1     0       0              0     0  0
PhD9 M      project 2019      1     0       0              0     0  0

                          physport  jupyter  stats
nick gender phd     date
PhD1 F      project 2014         0        0   none
            thesis  2017         0        0  basic
PhD2 F      project 2014         0        0  basic
            thesis  2017         0        0  basic
PhD3 F      project 2015         0        0  basic
            thesis  2017         0        0   adv.
PhD4 F      project 2015         0        0  basic
            thesis  2017         0        0  basic
PhD5 F      project 2015         0        0  basic
            thesis  2019         0        0   adv.
PhD6 F      project 2016         0        0  basic
            thesis  2020         0        1   adv.
PhD7 M      project 2016         0        0   adv.
            thesis  2020         1        1   adv.
PhD8 M      project 2017         1        0  basic
PhD9 M      project 2019         0        0  basic

# Software summary

## Cloud

In [9]:
# sum of cloud cols and its interpretation
df['cloud?'] = df.loc[:,cloud].sum(axis=1).apply(lambda x: 'local' if x==0 else 'cloud')
df[['cloud?']]

                         cloud?
nick gender phd     date
PhD1 F      project 2014  local
            thesis  2017  local
PhD2 F      project 2014  local
            thesis  2017  local
PhD3 F      project 2015  local
            thesis  2017  local
PhD4 F      project 2015  local
            thesis  2017  local
PhD5 F      project 2015  cloud
            thesis  2019  local
PhD6 F      project 2016  cloud
            thesis  2020  cloud
PhD7 M      project 2016  cloud
            thesis  2020  cloud
PhD8 M      project 2017  cloud
PhD9 M      project 2019  local

## Spreadsheets, special software

In [10]:
# replace 1 by names of sw, 0 by nan
df.loc[:, soft] = df.loc[:, soft].replace(1, pd.Series(soft,soft)).replace({0:np.nan})

In [11]:
# spreadsheets summary
combine = lambda row: ' '.join(row.dropna())
df['spreadsheets'] = df.loc[:,spread].apply(combine, axis=1).replace({'':'none'})

df.drop(columns=spread,inplace=True)

df[['spreadsheets']]

                                 spreadsheets
nick gender phd     date
PhD1 F      project 2014                 none
            thesis  2017                excel
PhD2 F      project 2014                excel
            thesis  2017                excel
PhD3 F      project 2015                excel
            thesis  2017                excel
PhD4 F      project 2015                excel
            thesis  2017                excel
PhD5 F      project 2015  excel google_sheets
            thesis  2019                excel
PhD6 F      project 2016        google_sheets
            thesis  2020  excel google_sheets
PhD7 M      project 2016        google_sheets
            thesis  2020  excel google_sheets
PhD8 M      project 2017                excel
PhD9 M      project 2019                excel

In [12]:
# special software summary
df['special sw'] = df.loc[:, spsoft].apply(combine, axis=1).replace({'':'none'})
df.drop(columns=spsoft, inplace=True)
df[['special sw']]

                                  special sw
nick gender phd     date
PhD1 F      project 2014                none
            thesis  2017                none
PhD2 F      project 2014                none
            thesis  2017                   r
PhD3 F      project 2015                none
            thesis  2017                spss
PhD4 F      project 2015                none
            thesis  2017                rsrp
PhD5 F      project 2015                none
            thesis  2019              xlstat
PhD6 F      project 2016                none
            thesis  2020           r jupyter
PhD7 M      project 2016                   r
            thesis  2020  r physport jupyter
PhD8 M      project 2017            physport
PhD9 M      project 2019                none

# Tab 1

## Tab 1 - Final sw summary

In [13]:
# rename using real names of sw
subs = ['excel', 'Excel', 'google_sheets', 'Google sheets']
df.spreadsheets = np_clean_str(df.spreadsheets, whitespace=',', replace = subs)

subs = ['rsrp', 'RSRP', 'xlstat', 'XLSTAT', 'spss', 'SPSS', 
        'physport', 'PhysPort', 'jupyter', 'Jupyter', 'r,', 'R,']
df['special sw'] = np_clean_str(df['special sw'], whitespace=',', replace = subs)

df = df.replace({'r':'R'})
df

                          stats cloud?         spreadsheets  \
nick gender phd     date
PhD1 F      project 2014   none  local                 none
            thesis  2017  basic  local                Excel
PhD2 F      project 2014  basic  local                Excel
            thesis  2017  basic  local                Excel
PhD3 F      project 2015  basic  local                Excel
            thesis  2017   adv.  local                Excel
PhD4 F      project 2015  basic  local                Excel
            thesis  2017  basic  local                Excel
PhD5 F      project 2015  basic  cloud  Excel,Google sheets
            thesis  2019   adv.  local                Excel
PhD6 F      project 2016  basic  cloud        Google sheets
            thesis  2020   adv.  cloud  Excel,Google sheets
PhD7 M      project 2016   adv.  cloud        Google sheets
            thesis  2020   adv.  cloud  Excel,Google sheets
PhD8 M      project 2017  basic  cloud                Excel
PhD9 M      project 2019  basic  local                Excel

                                  special sw
nick gender phd     date
PhD1 F      project 2014                none
            thesis  2017                none
PhD2 F      project 2014                none
            thesis  2017                   R
PhD3 F      project 2015                none
            thesis  2017                SPSS
PhD4 F      project 2015                none
            thesis  2017                RSRP
PhD5 F      project 2015                none
            thesis  2019              XLSTAT
PhD6 F      project 2016                none
            thesis  2020           R,Jupyter
PhD7 M      project 2016                   R
            thesis  2020  R,PhysPort,Jupyter
PhD8 M      project 2017            PhysPort
PhD9 M      project 2019                none

In [14]:
# removing projects if a student has PhD thesis
dff = df.reset_index().drop_duplicates(subset = multidx[:-2], keep='last').set_index('nick')
dff = dff.sort_values(by='date')
dff

,gender,phd,date,stats,cloud?,spreadsheets,special sw
nick,,,,,,,
PhD1,F,thesis,2017,basic,local,Excel,none
PhD2,F,thesis,2017,basic,local,Excel,R
PhD3,F,thesis,2017,adv.,local,Excel,SPSS
PhD4,F,thesis,2017,basic,local,Excel,RSRP
PhD8,M,project,2017,basic,cloud,Excel,PhysPort
PhD5,F,thesis,2019,adv.,local,Excel,XLSTAT
PhD9,M,project,2019,basic,local,Excel,none
PhD6,F,thesis,2020,adv.,cloud,"Excel,Google sheets","R,Jupyter"
PhD7,M,thesis,2020,adv.,cloud,"Excel,Google sheets","R,PhysPort,Jupyter"

In [15]:
# adding phase columns - first 6 in phase I, remaining 3 in phase III
dff['phase'] = 6*['I']+3*['II']
dff = dff.reset_index().set_index(['phase','nick'])
dff

           gender      phd  date  stats cloud?         spreadsheets  \
phase nick
I     PhD1      F   thesis  2017  basic  local                Excel
      PhD2      F   thesis  2017  basic  local                Excel
      PhD3      F   thesis  2017   adv.  local                Excel
      PhD4      F   thesis  2017  basic  local                Excel
      PhD8      M  project  2017  basic  cloud                Excel
      PhD5      F   thesis  2019   adv.  local                Excel
II    PhD9      M  project  2019  basic  local                Excel
      PhD6      F   thesis  2020   adv.  cloud  Excel,Google sheets
      PhD7      M   thesis  2020   adv.  cloud  Excel,Google sheets

                    special sw
phase nick
I     PhD1                none
      PhD2                   R
      PhD3                SPSS
      PhD4                RSRP
      PhD8            PhysPort
      PhD5              XLSTAT
II    PhD9                none
      PhD6           R,Jupyter
      PhD7  R,PhysPort,Jupyter

## Tab 1 - Latex code

In [16]:
subs = {'toprule':'hline', 'midrule':'hline', 'bottomrule':'hline'}

latex_code = dff.reset_index().to_latex(index=False)
latex_code = replace_all(latex_code, subs)

print(latex_code)

\begin{tabular}{llllrllll}
\hline
phase &  nick & gender &      phd &  date &  stats & cloud? &         spreadsheets &          special sw \\
\hline
    I &  PhD1 &      F &   thesis &  2017 &  basic &  local &                Excel &                none \\
    I &  PhD2 &      F &   thesis &  2017 &  basic &  local &                Excel &                   R \\
    I &  PhD3 &      F &   thesis &  2017 &   adv. &  local &                Excel &                SPSS \\
    I &  PhD4 &      F &   thesis &  2017 &  basic &  local &                Excel &                RSRP \\
    I &  PhD8 &      M &  project &  2017 &  basic &  cloud &                Excel &            PhysPort \\
    I &  PhD5 &      F &   thesis &  2019 &   adv. &  local &                Excel &              XLSTAT \\
   II &  PhD9 &      M &  project &  2019 &  basic &  local &                Excel &                none \\
   II &  PhD6 &      F &   thesis &  2020 &   adv. &  cloud &  Excel,Google sheets &           R,Jupyter \\
   II &  PhD7 &      M &   thesis &  2020 &   adv. &  cloud &  Excel,Google sheets &  R,PhysPort,Jupyter \\
\hline
\end{tabular}